$primary-color: rgb(252, 58, 90);
$background-color: whitesmoke;
$white-color: white;
$button-width: 150px;
$button-height: 40px;
$shadow: 0 2px 4px gray;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $background-color;
}

.wrapper{
    position: relative;
    width: 100%;
    max-width: 400px;
    text-align: center;

    h2{
        font-size: 2rem;
        color: $primary-color;
        margin: 15px 0;
    }

    gif{
        width: 100%;
        max-width: 300px;
    }

    .btn-group{
        margin-top: 50px;
        position: relative;
        height: $button-height;

        button{
            width: $button-width;
            height: inherit;
            font-size: 1.2rem;
            border-radius: 30px;
            outline: none;
            cursor: pointer;
            box-shadow: $shadow;
            border: 2px solid $primary-color;
            transition: all 0.3 ease;

        &.yes-btn{
            background: $primary-color;

            &:hover{
                background: darken($primary-color, 10%);
            }
        }
        &.no-btn{
            position: absolute;
            background: $white-color;
            color: $primary-color;
            left: 50%;
            transform: translateX(-50%);
            &:hover{
                background: darken($white-color, 5%);
                color: lighten($primary-color, 10%);
            }}}}};



